.Header {
	&__container {
		flex-grow: 1;
	}

	&__appBar {
		background-color: #de6719 !important;
		color: #e4e4e4 !important;
	}

	&__title {
		flex-grow: 1;
		margin-bottom: -5px !important;
		color: #e4e4e4 !important;
	}

	&__button {
		&--login {
			margin-right: 15px !important;
		}
		&--register {
			border: 2px solid !important;
		}
	}
}
