.OrderCard {
    &__container {
        display: flex;
        flex-direction: row;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__button {
        &--wrapper {
            position: absolute;
            right: 10px;
        }
        &--color {
            background-color: #e93a3a !important;
            color: white !important;
        }
    }
}
