.MenuPage {
    &__card {
        text-align: center;
    }
    &__button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 30px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

.MenuModal {
    &__container {
        text-align: center;
        width: 700px;
        height: auto;
        &--form {
            display: flex;
            flex-flow: column;
            align-items: center;
        }
    }

    &__position {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__divider {
        padding-top: 30px;
    }

    &__formControl {
        width: 500px;
    }

    &__form {
        display: flex;
    }

    &__button {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-evenly;
        width: 250px;
        &--color {
            background-color: #de6719 !important;
        }
    }
}
