.OrderListPage {
    &__tableHeader {
        display: flex;
        flex-direction: row;
        padding-left: 60px;
        justify-content: space-evenly;
    }

    &__cardDivider {
        padding-top: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 28px;
        padding-right: 28px;
        &--text {
            text-align: right;
        }
    }

    &__button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
    }
}
